.control-section-themes .accordion-section-title {
    margin              : 0;
}

/* Upsell */

    /* Upsell link */
    .upsell-link {
        display         : inline-block;
        background-color: #e25136;
        color           : #fff;
        text-transform  : uppercase;
        padding         : 7px 12px;
        font-size       : 10px;
        letter-spacing  : 1px;
        line-height     : 1.5;
        clear           : both;
        border          : none;
        border-radius   : 4px;
        position        : absolute;
        left            : 75px;
        top             : 9px;
    }

    .upsell-banner {
        height          : 200px;
        width           : 100%;
        margin          : 0 auto;
    }

.upgrade,
.review,
.document {
    color               : #777 !important;
    cursor              : pointer;
    display             : inline-block;
    margin-bottom       : 0;
    font-size           : 13px;
    padding             : 15px 10px;
    text-transform      : uppercase;
    width               : 90%;
    border-radius       : 4px;
    font-weight         : 600;
}
.document{
    border              : 1px solid rgb(226, 81, 54);
}
.document:hover {
    background-color    : rgb(226, 81, 54);
    color               : #FFF !important;
}

.upgrade {
    border              : 1px solid #2ecc71;
}
.upgrade:hover {
    background-color    : #2ecc71;
    color               : #FFF !important;
}

.pro-box {
    text-align          :center;
}

.pro-version {
    text-align          : center;
    margin              : 15px auto;
}

.pro-version p{
    line-height         : 1.5;
}